.acerca-de {
    height: 450px;
    width: 100%;
    border-top: 5px solid;
  } 
div h1 {
    text-align: center;
    font-size: small;
  }     
div nav ul {
    list-style:none;
  }
  
div nav ul li {
    float:left;
  }
  
div nav ul li a {
    padding: 5px;
    color:blue;
    text-decoration:none
  }  

div nav ul li a:hover {
    background:#a6c4d8;
  }