<div>
    <div class="row"> 
      <div class="col-1"> 
      <img src="../../../assets/user1.png" height="80px" widht="80px" style="position:absolute; left:10px; bottom:80px"/>
      </div>
    </div>  
    <div id="acercade" class="containers" style="height: 400px">
          <h1>Acerca de</h1>
          <nav> 
            <ul>
             <li><a href="#">Informacion Personal</a></li>
             <li><a href="#">Recomendaciones</a></li>
             <li><a href="#">Contactos</a></li>
            </ul>
          </nav>
    </div>                               
</div> 
