
<div> 
    <h1>Header</h1>
       <div id="logos" class="row justify-content-between">
                        <div class="col-1" style="padding:10px">
                           <img src="../../../assets/logoAP1.png" height="30px" widht="30px"/>
                        </div>
                        <div class="col-4">
                           <div class="row justify-content-end">
                                <div class="col-1">
                                <a href="https://es-la.facebook.com/" target="_blank">
                                    <img src="../../../assets/facebook-new1.png"  height="20px" widht="20px" alt="x" /></a>
                                </div>
                                <div class="col-1">
                                <a  href="https://www.instagram.com/accounts/login/" target="_blank">
                                   <img src="../../../assets/instagram-new1.png" height="20px" widht="20px" alt="x" /></a>  
                                </div>
                                <div class="col-1">
                                <a href="https://twitter.com/i/flow/login?input" target="_blank">
                                   <img src="../../../assets/twitter-new1.png" height="20px" widht="20px" alt="x" /></a> 
                                </div>
                                 <div class="col-1">
                                  <button type="submit" class="btn btn-none" (click)="loginuser()">
                                    <img src="../../../assets/user1.png" height="30px" widht="30px" alt="x" /></button>
                                </div>
                           </div>             
                        </div>        
          </div>            
</div>

